<body>
    <section id="project_name">
      <div class="hero container">
        <div>
          <h1><span class="initial">B</span>ABY <span class="initial">N</span>AMING <span class="reveal"></span></h1><br>
          <h1 id="line2"><span id="initialE" class="initial">E</span>VENT <span class="reveal"></span></h1><br>
          <h1 id="line3"><span id="initialM" class="initial">M</span>ANAGEMENT <span id="initialS" class="initial">S</span>YSTEM <span class="reveal"></span></h1>
        </div>
      </div>
    </section>
  <button type="button" class="btn btn-primary lets_go" routerLink="/login">LET'S GO</button>
  <p class="text" data-text="MAY YOUR DAY BE GREAT!!!">MAY YOUR DAY BE GREAT!!!</p>
  </body>

  <router-outlet target="_self"></router-outlet>
